body {
    background-color: #ffc300;
    color: #222222;
    font-family: Roboto Slab, sans-serif;
    padding: 20px;
    line-height: 1.6;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.description {
    font-size: 14px;
}

.date {
    font-size: 14px;
    font-weight: 700;
    color: #EA498B;
}

.credits {
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.content {
    padding: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-container {
    padding: 10px 0;
}

.video-link a {
    color: #222222;
    text-decoration: none;
}

.video-link a:hover {
    text-decoration: underline;
}

.filter-container {
    margin-bottom: 20px;
}

button, select {
    font-family: Roboto Slab;
    font-size: 16px;
    color: #ffc300;
    margin: 20px;
    background-color: #222;
    padding: 10px;
    border: 1px solid #222;
}

@media screen and (max-width: 1920px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
